@font-face { font-family: SGARounded; src: url('SGARounded.ttf'); } 

header {
  position: relative;
  padding: 154px 0 100px;
  background: radial-gradient(ellipse at center, #10121D 0%, black 100%);
  background: -webkit-radial-gradient(ellipse at center, #10121D 0%, black 100%);
  background: -moz-radial-gradient(ellipse at center, #10121D 0%, black 100%);
  background: -o-radial-gradient(ellipse at center, #10121D 0%, black 100%);
  overflow: hidden;
}

section {
  padding: 125px 0;
}

#about > .container > .row div:nth-child(1) {
  display: grid;
}

.fa-hand-spock {
  margin: auto;
  font-size: 9em;
}

.font-weight-bold-5 {
  font-weight: 500;
}

a:hover {
  text-decoration: none;
}

.dictionary {
  width: fit-content;
  text-align: left;
}

.bg-darker {
  background-color: #292B2C !important;
}

starfield {
  position: absolute;
  width: 100%;
  height: calc(100% - 54px);
  bottom: 0;
  left: 0;
  overflow: hidden;
}

star {
  position: absolute;
  background: white;
}

#easter-eggs {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 12.5px 7px 0;
}

#easter-eggs > i {
  width: 20px;
  height: 16px;
  margin: auto;
  padding: 0 2.5px;
  cursor: pointer;
  transition: color 0.2s ease;
}

#easter-eggs > i:hover, .nav-link.active, .purple {
  color: #973AFC !important;
}

#projects {
  padding: 50px 0 125px 0;
}

#projects > h2 {
  padding-top: 25px;
}

#projects > p {
  padding: 5px 0 25px 0;
}

.project {
  display: grid;
  width: 228px;
  height: 228px;
  background: white;
  transition: transform 0.3s;
  outline: solid;
  cursor: pointer;
  margin: 25px auto;
  padding: 0;
  border: none;
}

.project:focus {
  outline: solid;
  outline-color: black;
}

.project[data-target="#sheepnstuff"] {
  background-color: #353435;
}

.project:hover {
  transform: scale(1.12280701754);
}

.project > img {
  margin: auto;
  max-width: 200px;
  max-height: 200px;
}

.project > img.filled {
  margin: auto;
  width: 228px;
  height: 228px;
  max-width: 228px;
  max-height: 228px;
}

.modal-body > img {
  display: block;
  padding-bottom: 2em;
  margin: 0 auto;
  max-width: 95%;
  max-height: 220px;
}

img:not([src]) {
  visibility: hidden;
}

img["data-src"], img["data-srcset"] {
  display: block;
  min-height: 1px;
}

.fas.fa-download {
  cursor: pointer;
}

a[href="http://bit.ly/2GZCAWf"], a[href="http://bit.ly/2GZCAWf"]:hover, a[href="http://bit.ly/2GZCAWf"]:visited {
  color: inherit;
}

.realtime-stats {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9375em;
}

.obliterate, .obliterate:hover {
  all: unset;
}

.social {
  font-size: 2em !important;
  padding: 0.25rem !important;
  transition: color 0.2s ease;
  cursor: pointer;
}

.social.fa-github:hover {
  color: #9F7BE1;
}

.social.fa-steam-square:hover {
  color: #66C0F4;
}

.social.fa-reddit:hover {
  color: #FF3F00;
}

.social.fa-stack-overflow:hover {
  color: #FA8225;
}

.social.fa-linkedin:hover {
  color: #0077B5;
}

@media only screen and (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

@media only screen and (max-width: 992px) {
  .fa-hand-spock {
    margin-bottom: 70px !important;
  }
}