body {
  margin: 5.67rem auto;
  width: 852px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #fff;
  padding: 0 2rem;
}

#collaborators > div,
body {
  max-width: calc(100% - 4rem);
}

h1 {
  display: inline-block;
}

#introduction > img {
  float: right;
  margin-top: -0.67rem;
  width: 100px;
  padding-left: 1rem;
}

a {
  color: #337ab7;
  text-decoration: none;
  overflow-wrap: break-word;
}
a:hover {
  color: #1266ab;
  text-decoration: underline;
}

h3 {
  color: #464646;
}

ul {
  list-style-type: disclosure-closed;
  list-style-position: inside;
  padding: 0 1rem;
}

li {
  margin-top: 8px;
}

#collaborators > div {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  text-align: center;
  width: 750px;
  margin: 0 auto;
  flex-wrap: wrap;
}
#collaborators > div > a {
  cursor: pointer;
  padding: 1rem;
}
#collaborators > div > a > img {
  background-color: #fff;
  width: 125px;
  max-height: 125px;
}

#applications {
  margin-top: 3rem;
}
#applications > a {
  display: block;
  max-width: 450px;
  padding: 1rem 1rem 1rem 0;
  margin: 1rem;
  background-color: #f2f3f5;
  color: black;
  border: 1px solid rgb(218 221 225);
}
#applications > a::after {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 0.9rem;
  color: purple;
  content: "\25E2";
  opacity: 0;
}
#applications > a,
#applications > a::after {
  transition: ease-in-out 0.2s;
}
#applications > a:hover {
  text-decoration: none;
  background-color: #e2e3e5;
  border-color: black;
  position: relative;
}
#applications > a:hover::after {
  opacity: 1;
}
#applications > a > p {
  margin: 2.5px 0 2.5px 1.5rem;
}
#applications > a > p > small {
  color: #337ab7;
}

#footer {
  margin-top: 5rem;
}
